*{margin:0 ; padding: 0;}

header {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(#99E1E1, #E8ABC5, #DB9BFB);
    margin-bottom: 20px;
}
header .logo{
    float: left;
    line-height: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}
header .a{
    text-decoration: none;
    text-align: center;
}
.menu{
    text-align: center;
    font-family: Just tell me what;
    font-size: 35px;
    color: black;
    word-spacing: 12pt;
    line-height: 100px;
    padding: 2rem 15rem;
    display: block;
}
.menu_redes{
    float: right;
    padding: 0rem 2rem;
    word-spacing: 8pt;
    margin-top: -40px;
}