*{margin:0 ; padding: 0;}

header {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(#99E1E1, #E8ABC5, #DB9BFB);
    margin-bottom: 20px;
}
header .logo{
    float: left;
    line-height: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}
img.logoPagina{
    width: 330px; 
    height: 180px;
}
header nav a{
    text-decoration: none;
    text-align: center;
    color: black;
}
header nav a:hover {
    color: white;
}
.menu{
    text-align: center;
    font-family: Just tell me what;
    font-size: 35px;
    word-spacing: 12pt;
    line-height: 100px;
    padding: 2rem 14rem;
    display: block;
}
.menu_redes{
    float: right;
    padding: 0rem 2rem;
    word-spacing: 8pt;
    margin-top: -40px;
}

.header2 {
    position: fixed;
    height: 80px;
    padding: 2rem 1;
}
    
.header2 .logo{
    line-height: 30px;
}

.header2 .nav{
    line-height: 100px;
}

.header2 .menu{
    text-align: center;
    font-family: Just tell me what;
    font-size: 30px;
    word-spacing: 20pt;
    line-height: 60px;
    padding: 1rem 14rem;
}

.header2 .logoPagina{
    width: 210px;   
    height: 110px;
    padding-left: 70px;
    margin-top: -10px;
}

.header2 .menu_redes{
    float: right;
    padding: 0rem 5rem;
    word-spacing: 8pt;
    margin-top: -70px;
}

.contenido {
    padding-top: ;
}

@media screen (max-width: 950px) {
nkjsdnsndvmnsdkj
}