*{margin:0 ; padding: 0;}
body .contenido{
    text-align: center;
    align-items: center;
    justify-content: center;  
}
header {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(#99E1E1, #E8ABC5, #DB9BFB);
    margin-bottom: 20px;
}
header .logo{
    float: left;
    line-height: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}
img.logoPagina{
    width: 330px; 
    height: 180px;
}
header nav a{
    text-decoration: none;
    text-align: center;
    color: black;
}
header nav a:hover {
    color: white;
}
.menu{
    text-align: center;
    font-family: Just tell me what;
    font-size: 35px;
    word-spacing: 12pt;
    line-height: 100px;
    padding: 2rem 14rem;
    display: block;
}
.menu_redes{
    float: right;
    padding: 0rem 2rem;
    word-spacing: 8pt;
    margin-top: -40px;
}

.header2 {
    position: fixed;
    height: 80px;
    padding: 2rem 1;
    z-index: 100;
}
    
.header2 .logo{
    line-height: 30px;
}

.header2 .nav{
    line-height: 100px;
}

.header2 .menu{
    text-align: center;
    font-family: Just tell me what;
    font-size: 30px;
    word-spacing: 20pt;
    line-height: 60px;
    padding: 1rem 14rem;
}

.header2 .logoPagina{
    width: 210px;   
    height: 110px;
    padding-left: 70px;
    margin-top: -10px;
}

.header2 .menu_redes{
    float: right;
    padding: 0rem 5rem;
    word-spacing: 8pt;
    margin-top: -70px;
}
.columna3 .logoPagina{
    width: 250px;   
    height: 120px;
}
footer{
    background-color: #E1C5C5;
    font-family: Just tell me what;
    width: 100%;
}
.container-footer{
    display: flex;
}
.columna1{
    width: 100%;
    max-width: 30%;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
.columna2{
    margin-top: 15px;
    width: 100%;
    max-width: 70%;
    font-size: 20px;
    color: #3B3B3B;
    text-align: center;
}
.columna2 .menu-footer{
    color:#3B3B3B;
    font-size: 18px;
    display: inline-block;
    justify-content: space-evenly;
}
.menu-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-footer ul li {
    display: inline-block;
}
.menu-footer ul li a {
    color:#3B3B3B;
    font-size: 25px;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}
.columna3{
    width: 100%;
    max-width: 20%;
    margin-top: 20px;
}
.menu-footer ul li a:hover{
    color: white;
}
.container-footer2{
    text-align: center;
    font-size: 18px;
    color: #707070;
}
.contenido{
    max-width: 1300px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 20px;
    margin-right:60px;
}

.slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.item-slide{
    padding-left: 18px;
    position: relative;
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}
.pagination{
    position: absolute;
    bottom: 10px;
    left:0;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #3B3B3B;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    background:rgba(255, 255,255, 0.5);
    margin: 0 10px -70px;
    text-align: center;
    transition: all 300ms;
}
.pagination-item:hoover{
    transform: scale(2);
}
.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}
.pagination-item:hoover img{
    opacity: 1;
    transform: scale(1);
}
input[id="1"]:checked ~ .slide{
    animation:none;
    transform:translate3d(0,0,0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #E1C5C5;
}
input[id="2"]:checked ~ .slide{
    animation:none;
    transform:translate3d(calc(-100%*1),0,0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #E1C5C5;
}
input[id="3"]:checked ~ .slide{
    animation:none;
    transform:translate3d(calc(-100%*2),0,0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #E1C5C5;
}
input[id="4"]:checked ~ .slide{
    animation:none;
    transform:translate3d(calc(-100%*3),0,0);
}
input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #E1C5C5;
}
@keyframes autoplay{
    25%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    50%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    75%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    100%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
}
h2{
    padding-top: 80px;
    display:inline-block;
    position: relative;
    color:#888787;
    font-family: Just tell me what;
    font-size: 70px;
}
h2::after, h2::before{
    
    content:'';
    position: absolute;
    width:300px;
    height:5px;
    background-color:#888787;
    top:0.6em;
}
h2::before{
    top: 120px;
    left:-320px;
}
h2::after{
   top: 120px;
    right: -320px;
}
