<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../scripts/header.js"></script>
    <title>INICIO - MAKEUP VIBES</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../Images/Logo MakeUpVibes.png" class="logoPagina">
        </div>
        <nav class="menu">
            <a href="../views/index.html">INICIO</a>
            <a href="../views/stores.html">TIENDAS</a>
            <a href="">CATEGORÍAS</a>
            <a href="">MAKEUP-INSPIRATION</a>
        </nav>
        <input type="text">
        <nav class="menu_redes">
            <input type="image" name="facebook" id="btnFacebook" src="../Images/facebook.png" width="40px" height="40px">
            <input type="image" name="instagram" id="btnInstagram" src="../Images/instagram.png" width="40px" height="40px">
            <input type="image" name="pinterest" id="btnPinterest" src="../Images/pinterest.png" width="40px" height="40px">
        </nav>
    </header>

    <section class="contenido">

        <input type="radio" id="1" name="image-slide" hidden/> 
        <input type="radio" id="2" name="image-slide" hidden/> 
        <input type="radio" id="3" name="image-slide" hidden/> 
        <input type="radio" id="4" name="image-slide" hidden/> 

        <div class="slide">
            <div class="item-slide">
                <img src="../Images/imagesiniciox1.png">
            </div>
            <div class="item-slide">
                <img src="../Images/imagesiniciox2.png" >
            </div>
            <div class="item-slide">
                <img src="../Images/imagesiniciox3.png">
            </div>
            <div class="item-slide">
                <img src="../Images/imagesiniciox4.png">
            </div>
        </div>
        <div class="pagination">
            <label class="pagination-item" for="1">
                <img src="../Images/imagesiniciox1.png">
            </label>
            <label class="pagination-item" for="2">
                <img src="../Images/imagesiniciox2.png">
            </label>
            <label class="pagination-item" for="3">
                <img src="../Images/imagesiniciox3.png">
            </label>
            <label class="pagination-item" for="4">
                <img src="../Images/imagesiniciox4.png">
            </label>
        </div>
        <h2> NUESTROS RECOMENDADOS</h2>
        <div class="cards">
            <div class="card1">
                <img src="../Images/prueba.webp">
                <img src="../Images/prueba.webp">
                <img src="../Images/prueba.webp">
                <img src="../Images/prueba.webp">
                <h4></h4>
            </div>
            <div class="card1">
                <img src="../Images/prueba.webp">
                <img src="../Images/prueba.webp">
                <img src="../Images/prueba.webp">
                <img src="../Images/prueba.webp">

                <h4></h4>

            </div>

        </div>   
    </section>    
    <footer>
        <div class="containerF-all">
            <div class="container-footer">
                <div class="columna1">
                    <h1>"El secreto de la belleza, </h1>
                    <h1>es ser tú misma"</h1>
                </div>
                <div class="columna2">
                    <h1>AYUDA</h1>
                    <nav class="menu-footer">
                        <ul>
                            <li><a href="#">Contáctanos</a></li> 
                            <li><a href="#">Preguntas frecuentes</a></li>
                            <li><a href="#">Nuestras políticas</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="columna3">
                    <img src="../Images/Logo MakeUpVibes.png" class="logoPagina">
                </div>
            </div>
            <div class="container-footer2">
                <div class="copyright">
                    Copyright 2020 © Make Up Vibes | Todos los derechos reservados - Diseño de páginas Web por T&N Team.
                </div>
            </div>
        </div>
    </footer>
</body>
</html>